body {
  padding-top: 50px;
  font-family: 'Roboto', sans-serif;
  color: grey;
  font-size: 17px;

}

.h1 {
  color: black;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.container {
  width:90%;
}


.carousel-control {
  color:#000000;
}
.carousel-control.left, .carousel-control.right {
    background-image: none


}

.carousel-control .icon-prev, 
.carousel-control .icon-next {
    font-size: 100px;
    color: grey;

}

.carousel-indicators li {
border-radius: 0;
 background: grey;

}

.pull-left {
  float: left !important;
}

.pull-right {
  float: left !important;
}

h1 {
  color: black;
}

h2 {
  color: black;
}

h3 {
  color: black;
}

h3 {
  color: black;

}

.carousel-indicators li {
border-radius: 0;
 background: grey;

}

.pull-left {
  float: left !important;
}

.pull-right {
  float: left !important;

}

h1 {
  color: black;
}

h2 {
  color: black;
}

h3 {
  color: black;
}

h3 {
  color: black;
}








img{

height: auto;
height: 50%;



}



.images img {
    display: inline-block;
    
    width: 500px;
   

}




ul.nav a:hover { color: grey !important;

}
.navbar-nav > li{
  padding-left:10px;
  padding-right:10px;
}

.navbar-nav > li{
  margin-left:30px;
  margin-right:20px;
}


.table-custom-hover > tbody > tr:hover a, 
.table-custom-hover > tbody > tr:hover{
background-color: #f5f11a;


}

.btn {
    border-radius: 0px;
    color:white;
    background-color: grey;
    border-color: grey;


}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: black;


}

.btn {
    border-radius: 0px;
    color:white;
    background-color: grey;
    border-color: grey;


}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: black;
}

#footer {
    background-color:#a19f9e;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
